on: [push]

jobs:
  website:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Publish to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 7.2.1

      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile
      - run: pnpm nx build website

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: 1d6db711ad880b2455da08a6aeb2a119
          projectName: withease
          directory: /dist/apps/website
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
